@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #18181b;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-orbitron);
  font-weight: 700;
  color: #09b850;
}

.masonry {
  grid-auto-rows: minmax(0, 1fr);
}
